
body {
  background-image: url('img/intro2.png');
  height: -webkit-fill-available;
  max-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 80px 0;
}

nav {
  background-color: #29353B;
  padding: 0.5rem, 0;
  color: #ffff;
  font-size: 20px;
  font-weight: 200;

}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
}

nav {
  position: fixed;
  margin:0;
  padding:0;
  width:100%;
  z-index: 9999999;
  background:#29353B;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.logof {
      position: absolute;
    bottom: -25px;
}

.sobrenav {
  padding-left: 35px;
}

.impropria {
  position: relative;
  max-width: 100%;
  width: 76%;
  left: 6%;
  padding-top: 4.7rem;
}

.nav-title-div {
  border:2px solid white;
}

.nav-head {
  display:inline-block;
  font-size:30px;
  color: #ccc;
  padding: 0 0 0 10px;
}

.nav-title-div:hover {
  background:;
}

.navul {
  margin:0;
  padding:0;
}

.navul-hide {
  display:none;
}

.navli {
  padding:0.5em;
  display:block;
  font-size:20px;
  font-weight: 200;
  border-left:2px solid #ccc;
  border-right:2px solid #ccc;
  border-bottom:2px solid #ccc;
}

.navli:hover {
  background:;
}

.nava {
  text-decoration:none;
  color:#ccc;
}

.nava:visited {
  color:#ccc;
}

.navul2 {
  list-style-type:none;
  margin:0;
  padding:0;
  background:#29353B;
  width: 25%;
}

.navul2-hide{
  display:none;
}

.navli2 {
  font-size:18px;
  padding:0.5em;
  padding-left:3em;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.navli2:hover {
  background:;
}

.nava2 {
  color:#ccc;
  text-decoration:none;
}

.nava2:visited {
  color:#ccc;
}


/*For Larger Screens!*/

@media(min-width: 600px) {

  .nav-title-div {
    display:inline-block;
    border: none;
    display: none;
  }
  
  .nav-title-div:hover {
    background:#29353B;
  }
  
  .nav-head {
    display:inline-block;
  }
  
  .navul {
    display:inline;
    padding:1em;
  }
  
  .navul-hide {
    display:inline;
  }
  
  .navli {
    display:inline-block;
    border:none;
    padding:5px 15px;
  }
  
  .navli:nth-child(2):hover + .navul2, .navul2:hover {
    position:absolute;
    display:block;
    left:37%;
    top:70px;
  }

  
  
  .navli2 {
    display:block;
    width:100%;
    border: none;
  }
  
  .navli2:hover {
    background:;
  }
}

#inicial {
  height: -webkit-fill-available;
}

.box-center {
  position: absolute;
  background-color: #ffffff5c;
  height: 295px;
  width: 100%;
  top: 37%;
}

@media(max-width: 600px) {
  .navul2 {
    width: initial;
  }
}

.horizontal-line {
  border-top: 0.08rem solid #000000;
  top: 96px;
  width: 83%;
  position: relative;
  left: 15px;
}

.horizontal-line2 {
  border-top: 0.08rem solid #000000;
  top: -6px;
  width: 83%;
  position: relative;
  left: 15px;
}

#inicial h4 {
  font-size: 29px;
  padding-left: 50px;
}

#cenario-coleta {
  padding-bottom: 215px;
  text-align: left;
  padding-left: 12px;
  color: #ffff;
  line-height: 1; 
}

#cenario-coleta h2 {
  font-size: 44px;
}

.bold {
  font-weight: bold;
}

.content {
  padding-top: 6%;
  line-height: 1.5;
  font-weight: bold;
  font-size: 14px;
}

#infografico {
  position: relative;
  background-color: #08415C;
  color: #ffff;
  padding-top: 120px;
}
.imgmap1 {
  height: auto;
  max-width: 100%;
}

.box-content {
  position: relative;
  background-color: #29353B;
  max-width: 100%;
  border-radius: 43px;
  top: -137%;
  padding: 19px 0 9px 8px;
}

.box-buttons {
  color: #fff;
      overflow: hidden;
      position: absolute;
      background-color: #29353B;
      width: 270px;
      z-index: 999;
      line-height: 1;
      padding: 21px;
      padding-left: 22px;
      border-radius: 43px;
      padding-bottom: 10px;
      margin-top: 33.5rem;

}

.btn-slider{
  transition: 0.4s;
}

.btn-slider:hover {
  cursor: pointer;
}

.btn-slider:visited {
  font-weight: bold;
}
.btn-slider:active {
  font-weight: bold;
}

button {
  transition: 0.3s;
}

button:hover {
  background-color: #3B3A29;
}

#fixed-btn {

}

#pages p {
  font-size: 0.9rem;
  margin-right: 10px;
}

.btn-slider {

}

.active {
  font-weight: bold;
}
.contenthiden {
  display: none;
}

#pages{
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}

#pages h2 {
  font-size: 21px;
}


.title-btn {
  font-weight: bold;
}

#mapaum {
  position: relative;
  padding-top: 25px;
}

.content1 {
  padding-top: 20px;
      font-family: 'Domine';
      font-size: 18px;

}

.canas {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 126px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 45%;
}

.jurere {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 172px;
  font-weight: bold;
  color: #ffff;
  left: 38%;
  line-height: 1;
}

.stoantonio {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 300px;
  font-weight: bold;
  color: #ffff;
  left: 39%;
  line-height: 1;
}

.montecristo {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 393px;
  font-weight: bold;
  color: #ffff;
  left: 32%;
  line-height: 1;
}

.continente {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 458px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 32%;
  line-height: 1;
}

.centro {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 440px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 40%;
  line-height: 1;
}

.campeche {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 600px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 43%;
  line-height: 1;
}

.costa {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 341px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 46.7%;
  line-height: 1; 
}


#solid {
  display: none;
}

#chemistry {
  display: none;
}  
#cheemistry {
  display: none;
}  
#chhemistry {
  display: none;
} 

.etecanas {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 98px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  display: block;
  left: 40%;
}

.etebrava {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 71px;
  font-weight: bold;
  color: #ffff;
  right: 40%;
  line-height: 1;
}

.eteingleses {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 122px;
      font-weight: bold;
      color: #ffff;
      display: block;
      right: 40%;
      line-height: 1;
}

.eteconceicao {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 301px;
  font-weight: bold;
  color: #ffff;
  right: 45%;
  padding: 5px 9px;
  line-height: 1;
}

.box-content2 {
  position: relative;
  background-color: #29353B;
  max-width: 100%;
  border-radius: 43px;
  top: -311%;
  padding: 19px 0 9px 8px;
}

.etevilauniao {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 487px;
  font-weight: bold;
  color: #ffff;
  right: 39%;
  line-height: 1;
}

.eteinsular {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 443px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 38%;
  line-height: 1;
}

.etesacogrande {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 319px;
  font-weight: bold;
  color: #ffff;
  right: 57%;
  line-height: 1;
}

.etejurere {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 172px;
  font-weight: bold;
  color: #ffff;
  left: 31%;
  line-height: 1;
}

.etepotecas {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 413px;
  font-weight: bold;
  color: #ffff;
  left: 29%;
  line-height: 1;
}

.etebarra {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 453px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 46%;
  line-height: 1;
}

.etebase {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 529px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 33%;
  line-height: 1;
}

.eteparq {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 397px;
  font-weight: bold;
  color: #ffff;
  right: 54%;
  line-height: 1;
}

.pontacanas {
  border-radius: 15px;
      border: 2px solid #0000;
      position: absolute;
      top: 69px;
      background-color: #00000075;
      font-weight: bold;
      color: #ffff;
      left: 42%;
}

.estreito3 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 401px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 31%;
}

.campeche3 {
  border-radius: 15px;
      border: 2px solid #0000;
      position: absolute;
      bottom: 423px;
      background-color: #00000075;
      font-weight: bold;
      color: #ffff;
      left: 42%;
}

.mendes3 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  bottom: 549px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 35%
}

.ribeirao3 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  bottom: 361px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 27%;
}


.lagoa3 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 460px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 45%;
}

.praiabrava {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  margin-right: -9px;
  display: block;
  top: 34px;
  right: 43%;

}
.canas3 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 122px;
  font-weight: bold;
  color: #ffff;
  left: 41%;
  line-height: 1;
}

.jurere3 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 154px;
  font-weight: bold;
  color: #ffff;
  left: 41%;
  line-height: 1;
}

.bomjesus {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 111px;
      display: block;
      font-weight: bold;
      color: #ffff;
      left: 50%;
      line-height: 1;
}
.ingleses3 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 146px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 56%;
  line-height: 1;
}

.barra3 {
  border-radius: 15px;
    border: 2px solid #0000;
    position: absolute;
    top: 400px;
    background-color: #00000075;
    font-weight: bold;
    color: #ffff;
    left: 52%;
}

.costa3 {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 312px;
      display: block;
      font-weight: bold;
      color: #ffff;
      left: 49%;
      line-height: 1;
}

#rpesgoto {}

.box-content3 {
  position: absolute;
  background-color: #29353B;
  max-width: 100%;
  border-radius: 43px;
  top: 357px;
  padding: 19px 81px 9px 24px;
}

.canas4 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 104px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 43%;
}

.lagoinha4 {
  border-radius: 15px;
    border: 2px solid #0000;
    position: absolute;
    top: 43px;
    background-color: #00000075;
    font-weight: bold;
    color: #ffff;
    left: 52%;
}

.ingleses4 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 126px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 54%;
}

.jurere4 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 170px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 42%;
}

.sacogrande4 {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 335px;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 41%;
}

.beiramar4 {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 390px;
      font-weight: bold;
      color: #ffff;
      left: 33%;
      line-height: 1;
}

.pico4 {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 441px;
      font-weight: bold;
      color: #ffff;
      left: 35%;
      line-height: 1;
}

.continente4 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 458px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 29%;
  line-height: 1;
}

.ita4 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 397px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 41%;
  line-height: 1;
}

.campeche3 {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  bottom: 380px;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 43%;
  line-height: 1;
}

.box-content4 {
  position: absolute;
      background-color: #29353B;
      max-width: 100%;
      border-radius: 43px;
      top: 291px;
      padding: 19px 0 9px 8px;
}


  