body {
  background-color: #08415C;
  line-height: 1.2;
  z-index: -99999;
}

section {
  position: relative;
  padding: 100px 0;
}

nav {
  background-color: #29353B;
  padding: 0.5rem, 0;
  color: #ffff;
  font-size: 20px;
  font-weight: 200;

}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

nav ul li {
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
}

nav {
  position: fixed;
  margin:0;
  padding:0;
  width:100%;
  z-index: 9999999;
  background:#29353B;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.sobrenav {
  padding-left: 35px;
}

.nav-title-div {
  border:2px solid white;
}

.nav-head {
  display:inline-block;
  font-size:30px;
  color: #ccc;
  padding: 0 0 0 10px;
}

.nav-title-div:hover {
}

.navul {
  margin:0;
  padding:0;
}

.navul-hide {
  display:none;
}

.navli {
  padding:0.5em;
  display:block;
  font-size: 14px;
  font-weight: 200;
  border-left:2px solid #ccc;
  border-right:2px solid #ccc;
  border-bottom:2px solid #ccc;
}

.navli:hover {
  font-weight: bold;
  color: #000;

}

.nava {
  text-decoration:none;
  color:#ccc;
}

.nava:visited {
  color:#ccc;
}

.navul2 {
  list-style-type: none;
  margin: -18px;
  padding: 0;
  background: #29353B;
  width: 24%;
}

.navul2-hide{
  display:none;
}

.navli2 {
  font-size:13px;
  padding:0.5em;
  padding-left:3em;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.navli2:hover {
  background:#555353;
}

.nava2 {
  color:#ccc;
  text-decoration:none;
}

.nava2:visited {
  color:#ccc;
}


/*For Larger Screens!*/

@media(min-width: 600px) {

  .nav-title-div {
    display:inline-block;
    border: none;
    display: none;
  }
  
  .nav-title-div:hover {
    background:#29353B;
  }
  
  .nav-head {
    display:inline-block;
  }
  
  .navul {
    display:inline;
    padding:0em;
  }
  
  .navul-hide {
    display:inline;
  }
  
  .navli {
    display:inline-block;
    border:none;
    padding:5px 15px;
  }
  
  .navli:nth-child(2):hover + .navul2, .navul2:hover {
    position:absolute;
    display:block;
    left:37%;
    top:70px;
  }

  
  
  .navli2 {
    display:block;
    width:100%;
    border: none;
  }
  
  .navli2:hover {
    background:#555353;
  }
}

#infografico {
  color: #fff;
}

.content1 {
  padding-top: 20px;
  font-size: 15px;
}

.box-buttons {
  position: absolute;
  background-color: #29353B;
  width: 270px;
  border-radius: 43px;
  padding-bottom: 10px;
  margin-top: 12%;

}

.title-btn {
  font-weight: bolder;
  color: #ffff;
  font-size: 20px;
  padding-top: 20px;
  margin-left: 25px;
}

.btn-slider {
  margin: 0px 0px 7px 25px;
}

#mapaum {
  position: relative;
  padding-top: 25px;
}

.mapbtn1 {
  border: 1px solid #000;
  position: absolute;
}

.canas {
  border-radius: 15px;
  border: 2px solid #0000;
  position: absolute;
  top: 15%;
  background-color: #00000075;
  font-weight: bold;
  color: #ffff;
  left: 52%;
}

.jurere {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 20%;
  font-weight: bold;
  color: #ffff;
  left: 39%;
  line-height: 1;
}

.stoantonio {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 35%;
  font-weight: bold;
  color: #ffff;
  left: 39%;
  line-height: 1;
}

.montecristo {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 46%;
  font-weight: bold;
  color: #ffff;
  left: 27%;
  line-height: 1;
}

.continente {
  border-radius: 46px;
      border: 2px solid #0000;
      position: absolute;
      background-color: #00000075;
      top: 51%;
      display: block;
      font-weight: bold;
      color: #ffff;
      left: 28%;
      line-height: 1;
}

.centro {
  border-radius: 46px;
    border: 2px solid #0000;
    position: absolute;
    background-color: #00000075;
    top: 51%;
    display: block;
    font-weight: bold;
    color: #ffff;
    left: 40%;
    line-height: 1;
}

.campeche {
  border-radius: 46px;
  border: 2px solid #0000;
  position: absolute;
  background-color: #00000075;
  top: 67%;
  display: block;
  font-weight: bold;
  color: #ffff;
  left: 47%;
  line-height: 1;
}


.imgmap1 {
  height: auto;

}

.box-content {
  position: absolute;
  background-color: #29353B;
  width: 270px;
  border-radius: 43px;
  padding-bottom: 10px;
  margin-top: 12%;
  top: 10%;
}

#pages{
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}

#pages h2 {
  font-size: 21px;
}

#pages>section {
  display: inline-block;
  width: 100%;
  padding: 50px 0;
  font-size: 15px;
  padding-left: 13px;
}

        .wrapper {
            width: 100%;
            margin: auto;
            overflow-x: hidden;
            background: #263729;
        }

        .page {
            width: 100%;
            background: #992213;
            position: absolute;
            top:0;
            left: 0;
        }
        #page-1 {
            background: #0C717A;
        }
        #page-2 {
            background: #009900;
            left:100%;
        }
        #page-3 {
            background: #0000FF;
            left: 200%;
        }
        #page-4 {
          left: 300%;
        }
a {
    color:#FFF;
}

section{
      height:600px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .item
    {
      position: absolute;
      background: inherit;
      font-size: 2em;
      color: #ccc;
      line-height: 2.5;
      /* width: 300px; */
      /* height: 100px; */
      margin: 100px auto;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      text-align: center;
      /* border: 5px solid #fff; */
    }

.titleh2{
  font-size: 25px;
  padding-top: 123px;
  color: #29353B;
  margin-bottom: 40px;
  font-weight: bold;
}



@charset "UTF-8";
.carousel {
  position: relative;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
.carousel .carousel-viewer {
  width: 358px;
      height: 230px;
      margin: 0 auto;
      overflow: hidden;
}
.carousel .carousel-body {
  position: relative;
  transition: .3s;
}
.carousel .carousel-indicator {
  margin-top: 20px;
}

.l-carousel_item {
  display: flex;
  position: absolute;
  top: 0;
  left: -43px;
}

.carousel_nav {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.carousel_nav:hover {
  opacity: .8;
}
.carousel_nav.inactive {
  display: none;
}
.carousel_nav.carousel_nav--prev {
  top: 4%;
  left: 30%;
  -webkit-transform: translateX(10px) translateY(-100%);
          transform: translateX(10px) translateY(-100%);
}
.carousel_nav.carousel_nav--prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: translateX(-30%) translateY(-50%) rotate(-45deg);
          transform: translateX(-30%) translateY(-50%) rotate(-45deg);
}
.carousel_nav.carousel_nav--next {
  top: 3%;
  right: 30%;
}
.carousel_nav.carousel_nav--next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateX(-70%) translateY(-50%) rotate(45deg);
          transform: translateX(-70%) translateY(-50%) rotate(45deg);
}

.l-carousel_indicator {
  display: flex;
  justify-content: center;
}
.l-carousel_indicator > li:not(:first-child) {
  margin-left: 10px;
}

.carousel_indicator {
  display: block;
}
.carousel_indicator:before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
}
.carousel_indicator.active:before {
  background: #f00;
}

body {
  margin: 0;
}
.gallery {
  width: 100%;
}
.gallery__item {
  height: auto;
  width: 100%;
  /* display: flex; */
  justify-content: center;
}
.gallery__wrapper {
  height: 0;
  overflow: visible;
}
.parallax-wrap {
  height: 100%;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.parallax-scroll {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,0.5);
  left: 15%;
}
.parallax-scroll:nth-child(2) {
  left: 30%;
}
.parallax-scroll:nth-child(3) {
  left: 45%;
}
.parallax-scroll:nth-child(4) {
  left: 60%;
}
.parallax-scroll:nth-child(5) {
  left: 75%;
}

img {
  width: 367px;
}

.imgc1 {
  position: absolute;
  top: 128px;
  margin-left: 19px;
  width: 23%;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  }
  .imgc2 {
    position: absolute;
    top: 144px;
    margin-left: 19px;
    width: 23%;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
  }
  .imgc3 {
    position: absolute;
    top: 152px;
    margin-left: 19px;
    font-family: domine;
    width: 23%;
    font-weight: bold;
    color: #000;
    font-size: 15px;
  }

  .prep1 {
    font-family: 'Domine', serif;
    font-size: 1rem;
    padding: 40px 0 0 0;
  }
  .prep12 {
    font-family: 'Domine', serif;
    font-size: 1rem;
    
  }

  .prep13 {
    font-family: 'Domine', serif;
    font-size: 1rem;
    padding: 25px 0 0 0;
  }

  .inforesp {
    width: 100%;
  }

  .repnav {
    margin-left: 81px;
  }
  .reth2{
    font-family: 'Domine', serif;
    font-size: 23px;
    color: #707070;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 35px 0;
  }

  .grafico1 {
 width: 100%;
     padding: 18px 0;;
  }

  @charset "UTF-8";
.carousell {
  position: relative;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
.carousell .carousell-viewer {
  width: 358px;
      height: 230px;
      margin: 0 auto;
      overflow: hidden;
}
.carousell .carousell-body {
  position: relative;
  transition: .3s;
}
.carousell .carousell-indicator {
  margin-top: 20px;
}

.l-carousell_item {
  display: flex;
  position: absolute;
  top: 0;
  left: -43px;
}

.carousell_nav {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.carousell_nav:hover {
  opacity: .8;
}
.carousell_nav.inactive {
  display: none;
}
.carousell_nav.carousell_nav--prev {
  bottom: 24%;
  left: 16%;
  -webkit-transform: translateX(10px) translateY(-100%);
          transform: translateX(10px) translateY(-100%);
}
.carousell_nav.carousell_nav--prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: translateX(-30%) translateY(-50%) rotate(-45deg);
          transform: translateX(-30%) translateY(-50%) rotate(-45deg);
}
.carousell_nav.carousell_nav--next {
  top: 42.45%;
  right: 15%;
}
.carousell_nav.carousell_nav--next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateX(-70%) translateY(-50%) rotate(45deg);
          transform: translateX(-70%) translateY(-50%) rotate(45deg);
}

.l-carousel_indicator {
  display: flex;
  justify-content: center;
}
.l-carousell_indicator > li:not(:first-child) {
  margin-left: 10px;
}

.carousell_indicator {
  display: block;
}
.carousell_indicator:before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
}
.carousell_indicator.active:before {
  background: #f00;
}

.imgrp2 {
  width: 100%;
  padding-bottom: 50px;
}


  @charset "UTF-8";
.carouselll {
  position: relative;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
.carouselll .carouselll-viewer {
  width: 358px;
      height: 230px;
      margin: 0 auto;
      overflow: hidden;
}
.carouselll .carouselll-body {
  position: relative;
  transition: .3s;
}
.carouselll .carouselll-indicator {
  margin-top: 20px;
}

.l-carouselll_item {
  display: flex;
  position: absolute;
  top: 0;
  left: -43px;
}

.carouselll_nav {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}
.carouselll_nav:hover {
  opacity: .8;
}
.carouselll_nav.inactive {
  display: none;
}
.carouselll_nav.carouselll_nav--prev {
  top: 55%;
  left: 14%;
  -webkit-transform: translateX(10px) translateY(-100%);
          transform: translateX(10px) translateY(-100%);
}
.carouselll_nav.carouselll_nav--prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transform: translateX(-30%) translateY(-50%) rotate(-45deg);
          transform: translateX(-30%) translateY(-50%) rotate(-45deg);
}
.carouselll_nav.carouselll_nav--next {
      top: 6%;
      right: 17%;
  }
}
.carouselll_nav.carouselll_nav--next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateX(-70%) translateY(-50%) rotate(45deg);
          transform: translateX(-70%) translateY(-50%) rotate(45deg);
}

.l-carouselll_indicator {
  display: flex;
  justify-content: center;
}
.l-carouselll_indicator > li:not(:first-child) {
  margin-left: 10px;
}

.carouselll_indicator {
  display: block;
}
.carouselll_indicator:before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
}
.carouselll_indicator.active:before {
  background: #f00;
}

.imgc4 {
  position: absolute;
    top: 137px;
    margin-left: 12px;
    width: 17%;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}
.imgpcanas {
      width: 100%;
}

.pluvial {
  width: 100%;
  margin: 30px 0 0 0;
}